/*
 * AWS color palette
 *
 * This file isn't used directly, but used as a visual reference for hex color
 * values since many .css editors (like in VS Code) show a color preview.
 */

/* Customer Enablement; Database; Developer Tools; Satellite */
.AWS_COLOR_BLUE {
  color: #3A47CB
}
.CeruleanBlue {
  color: #3B48CC
}
.Nebula { /* Purple Heart */
  color: #C925D1
}

/* Cloud Financial Management; Internet of Things; Storage */
.AWS_COLOR_GREEN {
  color: #3F8624
}
.ForestGreen {
  color: #3F8624
}
.Endor { /* Christi */
	color: #7AA116
}

/* Blockchain; Compute; Containers; Media Services; Quantum Technologies */
.AWS_COLOR_ORANGE {
  color: #D86613
}
.Meteor {
  color: #D86613
}
.Smile { /* Clementine */
  color: #ED7100
}

/* Application Integration; Management & Governance; VR & AR */
.AWS_COLOR_PINK {
  color: #CD2264
}
.MaroonFlush {
  color: #CC2264
}
.Cosmos { /* Red Violet */
	color: #E7157B
}

/* Analytics; Games; Networking & Content Delivery; Serverless */
.AWS_COLOR_PURPLE {
  color: #693BC5
}
.PurpleHeart {
  color: #693CC5
}
.Galaxy { /* Heliotrope */
  color:  #8C4FFF
}

/* Business Applications; Contact Center; Front-End Web & Mobile; Robotics; Security, Identity & Compliance */
.AWS_COLOR_RED {
  color: #D6232C
}
.Crimson {
  color: #D6242D
}
.Mars { /* Cerise Red */
  color: #DD344C
}

/* Artificial Intelligence; End User Computing; Migration & Modernization */
.AWS_COLOR_TURQUOISE {
  color:#1B7B67
}
.Elm {
  color:#1C7B68
}
.Orbit { /* Persian Green */
	color: #01A88D
}

/* other */
.SquidInk {
  color: #232F3E
}
.Squid { /* Ebony Clay */
  color: #232F3E
}
.White {
  color: #FFFFFF
}
.AWS_BORDER_COLOR  {
  color: #FF9900
}
.category_border {
  color: #879196;
}